
<form>
	<table>
		<tr>
			<td>
				Username
			</td>
			<td>
				<input type="text" name="username">
			</td>
		</tr>
		<tr>
			<td>
				Password
			</td>
			<td>
				<input type="text" name="password">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="Login">
			</td>
	</table>	
</form>