/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    margin: 0;
    margin-bottom: 25px;
	margin-top: 25px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Comic Sans MS";
    font-size: 13px;
    color: #333;
  }


.button-standard{
width:400px;
font-size: 18px;
height: 40px;
}

  h1 {
    font-size: 24px;
    color: #000;
  }

  a  {color: #03c}
  a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
  }


  #page {
    background-color: #f0f0f0;
    width: 950px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #content {
    background-color: white;
    border: 3px solid #aaa;
    padding: 25px;
    width: 600px;
  }

  