<!DOCTYPE html>
<html>
<head>
  <title>Scholar Dollars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            
            <ul class="links">
              	<li><a href="/pages/login">Login</a></li>
	            <li><a href="/pages/work">How we work</a></li>
	            <li><a href="/pages/partners">Our Partners</a></li>
	            <li><a href="/pages/donate">Donate Now</a></li>
				<li><a href="/">Home</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>Scholar Dollars</h1>
          <h2>Saving for the Future</h2>
        </div>

		<div>
			<%= yield %>
		</div>
		
    
  	</div>

      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>


